.bg-indianred { background-color: #CD5C5C; }
.bg-lightcoral { background-color: #F08080; }
.bg-salmon { background-color: #FA8072; }
.bg-darksalmon { background-color: #E9967A; }
.bg-lightsalmon { background-color: #FFA07A; }
.bg-crimson { background-color: #DC143C; }
.bg-red { background-color: #FF0000; }
.bg-firebrick { background-color: #B22222; }
.bg-darkred { background-color: #8B0000; }
.bg-pink { background-color: #FFC0CB; }
.bg-lightpink { background-color: #FFB6C1; }
.bg-hotpink { background-color: #FF69B4; }
.bg-deeppink { background-color: #FF1493; }
.bg-mediumvioletred { background-color: #C71585; }
.bg-palevioletred { background-color: #DB7093; }
.bg-lightsalmon { background-color: #FFA07A; }
.bg-coral { background-color: #FF7F50; }
.bg-tomato { background-color: #FF6347; }
.bg-orangered { background-color: #FF4500; }
.bg-darkorange { background-color: #FF8C00; }
.bg-orange { background-color: #FFA500; }
.bg-gold { background-color: #FFD700; }
.bg-yellow { background-color: #FFFF00; }
.bg-lightyellow { background-color: #FFFFE0; }
.bg-lemonchiffon { background-color: #FFFACD; }
.bg-lightgoldenrodyellow { background-color: #FAFAD2; }
.bg-papayawhip { background-color: #FFEFD5; }
.bg-moccasin { background-color: #FFE4B5; }
.bg-peachpuff { background-color: #FFDAB9; }
.bg-palegoldenrod { background-color: #EEE8AA; }
.bg-khaki { background-color: #F0E68C; }
.bg-darkkhaki { background-color: #BDB76B; }
.bg-lavender { background-color: #E6E6FA; }
.bg-thistle { background-color: #D8BFD8; }
.bg-plum { background-color: #DDA0DD; }
.bg-violet { background-color: #EE82EE; }
.bg-orchid { background-color: #DA70D6; }
.bg-fuchsia { background-color: #FF00FF; }
.bg-magenta { background-color: #FF00FF; }
.bg-mediumorchid { background-color: #BA55D3; }
.bg-mediumpurple { background-color: #9370DB; }
.bg-rebeccapurple { background-color: #663399; }
.bg-blueviolet { background-color: #8A2BE2; }
.bg-darkviolet { background-color: #9400D3; }
.bg-darkorchid { background-color: #9932CC; }
.bg-darkmagenta { background-color: #8B008B; }
.bg-purple { background-color: #800080; }
.bg-indigo { background-color: #4B0082; }
.bg-slateblue { background-color: #6A5ACD; }
.bg-darkslateblue { background-color: #483D8B; }
.bg-mediumslateblue { background-color: #7B68EE; }
.bg-greenyellow { background-color: #ADFF2F; }
.bg-chartreuse { background-color: #7FFF00; }
.bg-lawngreen { background-color: #7CFC00; }
.bg-lime { background-color: #00FF00; }
.bg-limegreen { background-color: #32CD32; }
.bg-palegreen { background-color: #98FB98; }
.bg-lightgreen { background-color: #90EE90; }
.bg-mediumspringgreen { background-color: #00FA9A; }
.bg-springgreen { background-color: #00FF7F; }
.bg-mediumseagreen { background-color: #3CB371; }
.bg-seagreen { background-color: #2E8B57; }
.bg-forestgreen { background-color: #228B22; }
.bg-green { background-color: #008000; }
.bg-darkgreen { background-color: #006400; }
.bg-yellowgreen { background-color: #9ACD32; }
.bg-olivedrab { background-color: #6B8E23; }
.bg-olive { background-color: #808000; }
.bg-darkolivegreen { background-color: #556B2F; }
.bg-mediumaquamarine { background-color: #66CDAA; }
.bg-darkseagreen { background-color: #8FBC8B; }
.bg-lightseagreen { background-color: #20B2AA; }
.bg-darkcyan { background-color: #008B8B; }
.bg-teal { background-color: #008080; }
.bg-aqua { background-color: #00FFFF; }
.bg-cyan { background-color: #00FFFF; }
.bg-lightcyan { background-color: #E0FFFF; }
.bg-paleturquoise { background-color: #AFEEEE; }
.bg-aquamarine { background-color: #7FFFD4; }
.bg-turquoise { background-color: #40E0D0; }
.bg-mediumturquoise { background-color: #48D1CC; }
.bg-darkturquoise { background-color: #00CED1; }
.bg-cadetblue { background-color: #5F9EA0; }
.bg-steelblue { background-color: #4682B4; }
.bg-lightsteelblue { background-color: #B0C4DE; }
.bg-powderblue { background-color: #B0E0E6; }
.bg-lightblue { background-color: #ADD8E6; }
.bg-skyblue { background-color: #87CEEB; }
.bg-lightskyblue { background-color: #87CEFA; }
.bg-deepskyblue { background-color: #00BFFF; }
.bg-dodgerblue { background-color: #1E90FF; }
.bg-cornflowerblue { background-color: #6495ED; }
.bg-mediumslateblue { background-color: #7B68EE; }
.bg-royalblue { background-color: #4169E1; }
.bg-blue { background-color: #0000FF; }
.bg-mediumblue { background-color: #0000CD; }
.bg-darkblue { background-color: #00008B; }
.bg-navy { background-color: #000080; }
.bg-midnightblue { background-color: #191970; }
.bg-cornsilk { background-color: #FFF8DC; }
.bg-blanchedalmond { background-color: #FFEBCD; }
.bg-bisque { background-color: #FFE4C4; }
.bg-navajowhite { background-color: #FFDEAD; }
.bg-wheat { background-color: #F5DEB3; }
.bg-burlywood { background-color: #DEB887; }
.bg-tan { background-color: #D2B48C; }
.bg-rosybrown { background-color: #BC8F8F; }
.bg-sandybrown { background-color: #F4A460; }
.bg-goldenrod { background-color: #DAA520; }
.bg-darkgoldenrod { background-color: #B8860B; }
.bg-peru { background-color: #CD853F; }
.bg-chocolate { background-color: #D2691E; }
.bg-saddlebrown { background-color: #8B4513; }
.bg-sienna { background-color: #A0522D; }
.bg-brown { background-color: #A52A2A; }
.bg-maroon { background-color: #800000; }
.bg-white { background-color: #FFFFFF; }
.bg-snow { background-color: #FFFAFA; }
.bg-honeydew { background-color: #F0FFF0; }
.bg-mintcream { background-color: #F5FFFA; }
.bg-azure { background-color: #F0FFFF; }
.bg-aliceblue { background-color: #F0F8FF; }
.bg-ghostwhite { background-color: #F8F8FF; }
.bg-whitesmoke { background-color: #F5F5F5; }
.bg-seashell { background-color: #FFF5EE; }
.bg-beige { background-color: #F5F5DC; }
.bg-oldlace { background-color: #FDF5E6; }
.bg-floralwhite { background-color: #FFFAF0; }
.bg-ivory { background-color: #FFFFF0; }
.bg-antiquewhite { background-color: #FAEBD7; }
.bg-linen { background-color: #FAF0E6; }
.bg-lavenderblush { background-color: #FFF0F5; }
.bg-mistyrose { background-color: #FFE4E1; }
.bg-gainsboro { background-color: #DCDCDC; }
.bg-lightgray { background-color: #D3D3D3; }
.bg-silver { background-color: #C0C0C0; }
.bg-darkgray { background-color: #A9A9A9; }
.bg-gray { background-color: #808080; }
.bg-dimgray { background-color: #696969; }
.bg-lightslategray { background-color: #778899; }
.bg-slategray { background-color: #708090; }
.bg-darkslategray { background-color: #2F4F4F; }
.bg-black { background-color: #000000; }

.c-indianred { color: #CD5C5C; }
.c-lightcoral { color: #F08080; }
.c-salmon { color: #FA8072; }
.c-darksalmon { color: #E9967A; }
.c-lightsalmon { color: #FFA07A; }
.c-crimson { color: #DC143C; }
.c-red { color: #FF0000; }
.c-firebrick { color: #B22222; }
.c-darkred { color: #8B0000; }
.c-pink { color: #FFC0CB; }
.c-lightpink { color: #FFB6C1; }
.c-hotpink { color: #FF69B4; }
.c-deeppink { color: #FF1493; }
.c-mediumvioletred { color: #C71585; }
.c-palevioletred { color: #DB7093; }
.c-lightsalmon { color: #FFA07A; }
.c-coral { color: #FF7F50; }
.c-tomato { color: #FF6347; }
.c-orangered { color: #FF4500; }
.c-darkorange { color: #FF8C00; }
.c-orange { color: #FFA500; }
.c-gold { color: #FFD700; }
.c-yellow { color: #FFFF00; }
.c-lightyellow { color: #FFFFE0; }
.c-lemonchiffon { color: #FFFACD; }
.c-lightgoldenrodyellow { color: #FAFAD2; }
.c-papayawhip { color: #FFEFD5; }
.c-moccasin { color: #FFE4B5; }
.c-peachpuff { color: #FFDAB9; }
.c-palegoldenrod { color: #EEE8AA; }
.c-khaki { color: #F0E68C; }
.c-darkkhaki { color: #BDB76B; }
.c-lavender { color: #E6E6FA; }
.c-thistle { color: #D8BFD8; }
.c-plum { color: #DDA0DD; }
.c-violet { color: #EE82EE; }
.c-orchid { color: #DA70D6; }
.c-fuchsia { color: #FF00FF; }
.c-magenta { color: #FF00FF; }
.c-mediumorchid { color: #BA55D3; }
.c-mediumpurple { color: #9370DB; }
.c-rebeccapurple { color: #663399; }
.c-blueviolet { color: #8A2BE2; }
.c-darkviolet { color: #9400D3; }
.c-darkorchid { color: #9932CC; }
.c-darkmagenta { color: #8B008B; }
.c-purple { color: #800080; }
.c-indigo { color: #4B0082; }
.c-slateblue { color: #6A5ACD; }
.c-darkslateblue { color: #483D8B; }
.c-mediumslateblue { color: #7B68EE; }
.c-greenyellow { color: #ADFF2F; }
.c-chartreuse { color: #7FFF00; }
.c-lawngreen { color: #7CFC00; }
.c-lime { color: #00FF00; }
.c-limegreen { color: #32CD32; }
.c-palegreen { color: #98FB98; }
.c-lightgreen { color: #90EE90; }
.c-mediumspringgreen { color: #00FA9A; }
.c-springgreen { color: #00FF7F; }
.c-mediumseagreen { color: #3CB371; }
.c-seagreen { color: #2E8B57; }
.c-forestgreen { color: #228B22; }
.c-green { color: #008000; }
.c-darkgreen { color: #006400; }
.c-yellowgreen { color: #9ACD32; }
.c-olivedrab { color: #6B8E23; }
.c-olive { color: #808000; }
.c-darkolivegreen { color: #556B2F; }
.c-mediumaquamarine { color: #66CDAA; }
.c-darkseagreen { color: #8FBC8B; }
.c-lightseagreen { color: #20B2AA; }
.c-darkcyan { color: #008B8B; }
.c-teal { color: #008080; }
.c-aqua { color: #00FFFF; }
.c-cyan { color: #00FFFF; }
.c-lightcyan { color: #E0FFFF; }
.c-paleturquoise { color: #AFEEEE; }
.c-aquamarine { color: #7FFFD4; }
.c-turquoise { color: #40E0D0; }
.c-mediumturquoise { color: #48D1CC; }
.c-darkturquoise { color: #00CED1; }
.c-cadetblue { color: #5F9EA0; }
.c-steelblue { color: #4682B4; }
.c-lightsteelblue { color: #B0C4DE; }
.c-powderblue { color: #B0E0E6; }
.c-lightblue { color: #ADD8E6; }
.c-skyblue { color: #87CEEB; }
.c-lightskyblue { color: #87CEFA; }
.c-deepskyblue { color: #00BFFF; }
.c-dodgerblue { color: #1E90FF; }
.c-cornflowerblue { color: #6495ED; }
.c-mediumslateblue { color: #7B68EE; }
.c-royalblue { color: #4169E1; }
.c-blue { color: #0000FF; }
.c-mediumblue { color: #0000CD; }
.c-darkblue { color: #00008B; }
.c-navy { color: #000080; }
.c-midnightblue { color: #191970; }
.c-cornsilk { color: #FFF8DC; }
.c-blanchedalmond { color: #FFEBCD; }
.c-bisque { color: #FFE4C4; }
.c-navajowhite { color: #FFDEAD; }
.c-wheat { color: #F5DEB3; }
.c-burlywood { color: #DEB887; }
.c-tan { color: #D2B48C; }
.c-rosybrown { color: #BC8F8F; }
.c-sandybrown { color: #F4A460; }
.c-goldenrod { color: #DAA520; }
.c-darkgoldenrod { color: #B8860B; }
.c-peru { color: #CD853F; }
.c-chocolate { color: #D2691E; }
.c-saddlebrown { color: #8B4513; }
.c-sienna { color: #A0522D; }
.c-brown { color: #A52A2A; }
.c-maroon { color: #800000; }
.c-white { color: #FFFFFF; }
.c-snow { color: #FFFAFA; }
.c-honeydew { color: #F0FFF0; }
.c-mintcream { color: #F5FFFA; }
.c-azure { color: #F0FFFF; }
.c-aliceblue { color: #F0F8FF; }
.c-ghostwhite { color: #F8F8FF; }
.c-whitesmoke { color: #F5F5F5; }
.c-seashell { color: #FFF5EE; }
.c-beige { color: #F5F5DC; }
.c-oldlace { color: #FDF5E6; }
.c-floralwhite { color: #FFFAF0; }
.c-ivory { color: #FFFFF0; }
.c-antiquewhite { color: #FAEBD7; }
.c-linen { color: #FAF0E6; }
.c-lavenderblush { color: #FFF0F5; }
.c-mistyrose { color: #FFE4E1; }
.c-gainsboro { color: #DCDCDC; }
.c-lightgray { color: #D3D3D3; }
.c-silver { color: #C0C0C0; }
.c-darkgray { color: #A9A9A9; }
.c-gray { color: #808080; }
.c-dimgray { color: #696969; }
.c-lightslategray { color: #778899; }
.c-slategray { color: #708090; }
.c-darkslategray { color: #2F4F4F; }
.c-black { color: #000000; }